<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.baosight.gl.mapper.db1.GlMapper">

	<!-- 查询出铁数据项 -->
	<select id="queryCastIron" resultType="com.baosight.gl.domain.CastIronItemValue">
		SELECT
		    value.ITEMID as "itemId",
		    value.TAPNO  as "tapNo",
		    VALUE(value.VALUE,' ') as "value",
		    item.KEYNAME as "keyName",
		    item.REMARK  as "remark"
		FROM
		    iplature.T_TS_TAP_VALUE AS value,
		    iplature.T_TS_TAP_ITEM  AS item
		WHERE
	   		value.ITEMID = item.ITEMID
		AND
	    	value.ITEMID IN (2815,2820,2096,2825,2822,2824,2831,2832)
		AND
	    	value.TAPNO = (
					    	select TAPNO from IPLATURE.T_TS_TAP
					    	where ENDTIME is not null
					    	<if test="tapNo != null and tapNo != ''">
   					   			and TAPNO = #{tapNo}
    					    </if>
					    	order by TAPNO desc fetch first 1 rows only
	    				   )
	</select>

	<!-- 查询4个出铁信号点 ，value=0：代表出铁中,value=2：代表出铁结束 -->
	<select id="queryCastIronTag" resultType="map">
		select
			TAPHOLEID,
			ITEMID,
			VALUE
		from
			IPLATURE.T_TS_TAPHOLE_PROPERTY
		where
			itemid ='2103'
		order by TAPHOLEID asc
	</select>
	<select id="queryCastIronTag2" resultType="map">
		select value as ironMouth
		from T_TS_TAP_VALUE
		where ITEMID = 2148
		  and TAPNO = (select TAPNO as furnaceNumber
					   from t_ts_tap
					   order by TAPNO desc fetch first 1 row ONLY)
	</select>
	<!-- 查询38个风口信号点，value=1：代表风口启用,value=0：代表风口不启用 -->
	<select id="queryTuyereTag" resultType="map">
	select
		HOLENO,
		PROPERTYID,
		VALUE
	from
		IPLATURE.T_DV_DRAUGHT_PROPERTY_VALUE
	where
		PROPERTYID=(select  PROPERTYID from IPLATURE.T_DV_PROPERTY where  NAME= 'STATUS')
	order by HOLENO asc
	</select>

	<!-- 2d面板：产量、焦比、煤比、燃料比、料速 -->
	<select id="queryFurnaceMaterial1" resultType="map">
		SELECT
		    CG6_HSD_TFE_ABS,
		    CG6_HSD_CCR_002,
		    CG6_HSD_CRR_002,
		    CG6_HSD_FUR_002,
		    CG6_HSD_CHG_SPD
		FROM
	    	IPLATURE.T_CUTOFF_RESULT_CAL_2
	 	WHERE RESULTID in (
       					   select RESULTID from IPLATURE.T_CUTOFF_RESULT
    					   where CUTOFFID = 3
    					   <if test="cutOff3ResultId != null and cutOff3ResultId != ''">
    					   		and RESULTID = #{cutOff3ResultId}
    					   </if>
    					   order by resultId desc fetch first ${rows} rows only
    					  )
 	</select>

    <!-- 2d面板：CO，送风流量，C02,H2，CH4 -->
    <select id="queryFurnaceMaterial2" resultType="map">
		SELECT
			RESULTID,
		RG1_BFG_TOP_GCO,
		RG1_LQS_CSZ_041,
		RG1_BFG_TOP_CO2,
		RG1_BFG_TOP_GH2,
		RG1_BFG_TOP_CH4
		FROM
			IPLATURE.T_CUTOFF_RESULT_AVG_8
	 	WHERE RESULTID in (
       					   select RESULTID from IPLATURE.T_CUTOFF_RESULT
    					   where CUTOFFID = 1
    					   <if test="resultId != null and resultId != ''">
    					   		and RESULTID = #{resultId}
    					   </if>
    					   order by resultId desc fetch first ${rows} rows only
    					  )
    </select>

    <!-- 2d面板：全压差，理论燃烧温度，炉腹煤气量，鼓风动能，透气性指数-->
    <select id="queryFurnaceMaterial3" resultType="map">
		SELECT
			RESULTID,
		RG1_BT0_C00_PD1,
		RG1_BFT_FIR_000,
		RG1_BFF_BSH_GAS,
		RG1_BFO_WIN_ENG,
		RG1_BFR_00K_000
		FROM
			IPLATURE.T_CUTOFF_RESULT_AVG_3
	 	WHERE RESULTID in (
       					   select RESULTID from IPLATURE.T_CUTOFF_RESULT
    					   where CUTOFFID = 1
    					   <if test="resultId != null and resultId != ''">
    					   		and RESULTID = #{resultId}
    					   </if>
    					   order by resultId desc fetch first ${rows} rows only
    					  )
    </select>

    <!-- 2d面板：喷煤流速/喷煤量 -->
    <select id="queryFurnaceMaterial4" resultType="map">
		SELECT
			RESULTID,
		RG1_OPF_PCI_000
		FROM
			IPLATURE.T_CUTOFF_RESULT_SUM
	 	WHERE RESULTID in (
       					   select RESULTID from IPLATURE.T_CUTOFF_RESULT
    					   where CUTOFFID = 1
    					   <if test="resultId != null and resultId != ''">
    					   		and RESULTID = #{resultId}
    					   </if>
    					   order by resultId desc fetch first ${rows} rows only
    					  )
    </select>

  	<!-- 2d面板：热风压力，冷风压力 -->
    <select id="queryFurnaceMaterial5" resultType="map">
		SELECT
			RESULTID,
		RG1_RFL_HOT_P00,
		RG1_HSP_COL_000
		FROM
			IPLATURE.T_CUTOFF_RESULT_AVG_5
	 	WHERE RESULTID in (
       					   select RESULTID from IPLATURE.T_CUTOFF_RESULT
    					   where CUTOFFID = 1
    					   <if test="resultId != null and resultId != ''">
    					   		and RESULTID = #{resultId}
    					   </if>
    					   order by resultId desc fetch first ${rows} rows only
    					  )
    </select>

    <!-- 2d面板：炉顶压力-->
    <select id="queryFurnaceMaterial6" resultType="map">
		SELECT
			 RESULTID
		FROM
			IPLATURE.T_CUTOFF_RESULT_AVG_4
	 	WHERE RESULTID in (
       					   select RESULTID from IPLATURE.T_CUTOFF_RESULT
    					   where CUTOFFID = 1
    					   <if test="resultId != null and resultId != ''">
    					   		and RESULTID = #{resultId}
    					   </if>
    					   order by resultId desc fetch first ${rows} rows only
    					  )
    </select>

    <!-- 2d面板：冷风温度，热风温度 -->
    <select id="queryFurnaceMaterial7" resultType="map">
		SELECT
			RESULTID,
		RG1_RFL_CSZ_061,
		RG1_HST_COL_000
		FROM
			IPLATURE.T_CUTOFF_RESULT_AVG_6
	 	WHERE RESULTID in (
       					   select RESULTID from IPLATURE.T_CUTOFF_RESULT
    					   where CUTOFFID = 1
    					   <if test="resultId != null and resultId != ''">
    					   		and RESULTID = #{resultId}
    					   </if>
    					   order by resultId desc fetch first ${rows} rows only
    					  )
    </select>

    <!-- 2d面板：入炉焦比 -->
    <select id="queryFurnaceMaterial8" resultType="map">
		select max(decode(ITEMID, 10, value, 0)) AS piliao,
			   max(decode(ITEMID, 13, value, 0)) AS jiaotan,
			   max(decode(ITEMID, 15, value, 0)) AS shaojie,
			   max(decode(ITEMID, 17, value, 0)) AS qiutuan,
			   max(decode(ITEMID, 18, value, 0)) AS PB,
			   max(decode(ITEMID, 36, value, 0)) AS jiaobi,
			   max(decode(ITEMID, 37, value, 0)) AS meibi,
			   max(decode(ITEMID, 38, value, 0)) AS ranliaobi
		from (select value, itemid
			  from IPLATURE.T_MW_CHARGE_VALUE
			  where CHARGENO = (select max(chargeno) from IPLATURE.T_MW_CHARGE_VALUE)
				and ITEMID in (10, 13, 15, 17, 18,36, 37, 38)
			 ) as ic
    </select>
	<!-- 2d面板：富氧量，铁水温度，煤气，顶温,炉顶压力 -->
	<select id="queryFurnaceMaterial9" resultType="map">
		SELECT
		RESULTID,
		CG1_BFG_FO2_000,
		CG1_CTK_WTP_000,
		CG1_BFR_TOP_ECO,
		CG1_BFT_GAS_000,
		CG1_BFT_GAS_000
		FROM
		IPLATURE.T_CUTOFF_RESULT_CAL_1
		WHERE RESULTID in (
		select RESULTID from IPLATURE.T_CUTOFF_RESULT
		where CUTOFFID = 1
		<if test="resultId != null and resultId != ''">
			and RESULTID = #{resultId}
		</if>
		order by resultId desc fetch first ${rows} rows only
		)
	</select>
<!--	风量，富养率-->
	<select id="queryFurnaceMaterial10" resultType="map">
		SELECT
		RESULTID,
		RG1_BT0_CSZ_25,
		RG1_HSF_000_BLA
		FROM
		IPLATURE.T_CUTOFF_RESULT_AVG_10
		WHERE RESULTID in (
		select RESULTID from IPLATURE.T_CUTOFF_RESULT
		where CUTOFFID = 1
		<if test="resultId != null and resultId != ''">
			and RESULTID = #{resultId}
		</if>
		order by resultId desc fetch first ${rows} rows only
		)
	</select>
<!--    &lt;!&ndash; 热负荷数据项 &ndash;&gt;-->
<!--    <select id="queryThermalLoad" resultType="map">-->
<!--	    SELECT -->
<!--	    	${fieldStr} -->
<!--	    FROM -->
<!--	    	IPLATURE.T_CUTOFF_RESULT_AVG_2 -->
<!--	    WHERE -->
<!--	    	RESULTID IN -->
<!--	    	(-->
<!--       			SELECT -->
<!--       				RESULTID -->
<!--       			FROM -->
<!--       				IPLATURE.T_CUTOFF_RESULT -->
<!--       			WHERE -->
<!--       				CUTOFFID = 1-->
<!--			    <if test="resultId != null and resultId != ''">-->
<!--			   		AND RESULTID = #{resultId}-->
<!--			    </if> -->
<!--			    <if test="time != null and time != ''">-->
<!--			   		AND CLOCK <![CDATA[<]]> #{time}-->
<!--			    </if>-->
<!--			    order by resultId desc fetch first ${rows} rows only-->
<!--    		)-->
<!--    </select>-->
	<!-- 热负荷数据项 -->
	<select id="queryThermalLoad" resultType="map">
		SELECT
		${fieldStr}
		FROM
		IPLATURE.T_CUTOFF_RESULT_AVG_3
		WHERE
		RESULTID IN
		(
		SELECT
		RESULTID
		FROM
		IPLATURE.T_CUTOFF_RESULT
		WHERE
		CUTOFFID = 1
		<if test="resultId != null and resultId != ''">
			AND RESULTID = #{resultId}
		</if>
		<if test="time != null and time != ''">
			AND CLOCK <![CDATA[<]]> #{time}
		</if>
		order by resultId desc fetch first ${rows} rows only
		)
	</select>
    <!-- 热负荷温度数据项 -->
    <select id="queryThermalLoadTemp" resultType="map">
	    SELECT
	        ${fieldStr}
		FROM
        	IPLATURE.${tableName}
       WHERE
       		RESULTID IN
       		(
				SELECT
		   		 	RESULTID
			    FROM
			   		IPLATURE.T_CUTOFF_RESULT
			    WHERE
			   		CUTOFFID = 1
			    <if test="resultId != null and resultId != ''">
			   		AND RESULTID = #{resultId}
			    </if>
			    order by resultId desc fetch first ${rows} rows only
		   )
    </select>
	<!-- 热负荷历史数据项 -->
	<select id="queryThermalLoadHis" resultType="map">
		SELECT
		${fieldStr},b.CLOCK
		FROM
		IPLATURE.${tableName} as a left join IPLATURE.T_CUTOFF_RESULT as b
		on
		a.RESULTID =b.RESULTID where b.CUTOFFID = 1
		<if test="time != null and time != ''">
			and b.CLOCK <![CDATA[<]]> TIMESTAMP(#{time}, 'YYYY-MM-DD-HH24:MI:SS.US')
		</if>
		order by a.resultId desc fetch first ${rows} rows only
	</select>
	<!-- 热电偶数据项 -->
<!--	在xml中写sql语句时，遇到特殊字符时，如：< 等，建议使用<![CDATA[ sql 语句 ]]>标记，将sql语句包裹住，不被解析器解析-->
    <select id="queryThermocouple" resultType="map">
	    SELECT
	    	${fieldStr}
	    FROM
	    	IPLATURE.${tableName}
	    WHERE
	    	RESULTID IN
    	<!-- 判断等温线 -->
	    <if test="isotherm != null and isotherm != ''">
	    	(
			   SELECT RESULTID FROM IPLATURE.T_CUTOFF_RESULT
			   WHERE CUTOFFID = 1
			   <if test="resultId != null and resultId != ''">
			   		and RESULTID = #{resultId}
			   </if>
			   <if test="time != null and time != ''">
    				and CLOCK <![CDATA[<]]> TIMESTAMP(#{time}, 'YYYY-MM-DD-HH24:MI:SS.US')
    		   </if>
			   order by resultId desc fetch first ${rows} rows only
	  		)
	    </if>
    	<!-- 判断热力图 -->
    	<if test="heatMap != null and heatMap != ''">
	       		${HeatMapResultIdStr}
	    </if>
    </select>
	<!-- 热电偶数据项速度太慢下面优化 -->
<!--	<select id="queryThermocoupleHis" resultType="map">-->
<!--		SELECT-->
<!--		${fieldStr},b.CLOCK-->
<!--		FROM-->
<!--		IPLATURE.${tableName} as a left join IPLATURE.T_CUTOFF_RESULT as b-->
<!--		on-->
<!--		a.RESULTID =b.RESULTID where b.CUTOFFID = 1-->
<!--			<if test="time != null and time != ''">-->
<!--				and b.CLOCK <![CDATA[<]]> TIMESTAMP(#{time}, 'YYYY-MM-DD-HH24:MI:SS.US')-->
<!--			</if>-->
<!--			order by a.resultId desc fetch first ${rows} rows only-->
<!--	</select>-->
	<select id="queryThermocoupleHis" resultType="map">
		SELECT
		${fieldStr},b.CLOCK
		FROM
		IPLATURE.${tableName} as a left join IPLATURE.T_CUTOFF_RESULT as b
		on
		a.RESULTID =b.RESULTID WHERE a.RESULTID IN
			${ResultIdStr}
		order by a.RESULTID desc
	</select>
<!--     <select id="queryHeatMapHistory" resultType="map">-->
<!--     	SELECT -->
<!--     		${BlastFurnaceField}-->
<!--     	FROM -->
<!--     		IPLATURE.${BlastFurnaceTable}-->
<!--     	WHERE-->
<!--     		RESULTID IN-->
<!--     		${HeatMapResultIdStr} -->
<!--     	order by RESULTID asc-->
<!--     </select>-->
	<select id="queryHeatMapHistory" resultType="map">
		SELECT
			${BlastFurnaceField},b.CLOCK
		FROM
			IPLATURE.${BlastFurnaceTable} as a left join IPLATURE.T_CUTOFF_RESULT as b on a.RESULTID =b.RESULTID
		WHERE
				a.RESULTID IN
				${HeatMapResultIdStr}
		order by a.RESULTID asc
	</select>
<!--     &lt;!&ndash; 炉身静压数据项 &ndash;&gt;-->
<!--     <select id="queryStaticPressure" resultType="map">-->
<!--     	SELECT-->
<!--     		RESULTID,-->
<!--	        RG6_BFP_001_00A,-->
<!--	        RG6_BFP_001_00B,-->
<!--	        RG6_BFP_001_00C,-->
<!--	        RG6_BFP_001_00D,-->
<!--	        RG6_BFP_002_00A,-->
<!--	        RG6_BFP_002_00B,-->
<!--	        RG6_BFP_002_00C,-->
<!--	        RG6_BFP_002_00D,-->
<!--	        RG6_BFP_003_00A,-->
<!--	        RG6_BFP_003_00B,-->
<!--	        RG6_BFP_003_00C,-->
<!--	        RG6_BFP_003_00D,-->
<!--	        RG6_BFP_004_00A,-->
<!--	        RG6_BFP_004_00B,-->
<!--	        RG6_BFP_004_00C,-->
<!--	        RG6_BFP_004_00D,-->
<!--	        RG6_BFP_005_00A,-->
<!--	        RG6_BFP_005_00B,-->
<!--	        RG6_BFP_005_00C,-->
<!--	        RG6_BFP_005_00D-->
<!--	 	FROM -->
<!--	 		IPLATURE.T_CUTOFF_RESULT_AVG_1-->
<!--	 	WHERE RESULTID in (-->
<!--       					    select RESULTID from IPLATURE.T_CUTOFF_RESULT -->
<!--    					    where CUTOFFID = 1-->
<!--    					    <if test="resultId != null and resultId != ''">-->
<!--    					   		 and RESULTID = #{resultId}-->
<!--    					    </if> -->
<!--    					    <if test="time != null and time != ''">-->
<!--    					   		and CLOCK <![CDATA[<]]> #{time}-->
<!--    					    </if>-->
<!--    					    order by resultId desc fetch first ${rows} rows only-->
<!--    					   )-->
<!--     </select>-->
	<!-- 炉身静压数据项 -->
	<select id="queryStaticPressure" resultType="map">
		SELECT
		RESULTID,
		RG1_BFP_001_004,
		RG1_BFP_001_003,
		RG1_BFP_001_002,
		RG1_BFP_001_001,
		RG1_BFP_002_004,
		RG1_BFP_002_003,
		RG1_BFP_002_002,
		RG1_BFP_002_001

		FROM
		IPLATURE.T_CUTOFF_RESULT_AVG_2
		WHERE RESULTID in (
		select RESULTID from IPLATURE.T_CUTOFF_RESULT
		where CUTOFFID = 1
		<if test="resultId != null and resultId != ''">
			and RESULTID = #{resultId}
		</if>
		<if test="time != null and time != ''">
			and CLOCK <![CDATA[<]]> #{time}
		</if>
		order by resultId desc fetch first ${rows} rows only
		)
	</select>
     <!-- 冷却板供水压力数据项1 -->
     <select id="querySupplyPressure1" resultType="map">
     	SELECT
     		RESULTID,
			RG6_CWP_IN1_008,
			RG6_CWP_IN1_001,
			RG6_CWP_IN1_002,
			RG6_CWP_IN1_003,
			RG6_CWP_IN1_004,
			RG6_CWP_IN1_005,
			RG6_CWP_IN1_006,
			RG6_CWP_IN1_007,
			RG6_CWP_IN2_008,
			RG6_CWP_IN2_001,
			RG6_CWP_IN2_002,
			RG6_CWP_IN2_003,
			RG6_CWP_IN2_004,
			RG6_CWP_IN2_005,
			RG6_CWP_IN2_006,
			RG6_CWP_IN2_007,
			RG6_CWP_IN3_008,
			RG6_CWP_IN3_001,
			RG6_CWP_IN3_002,
			RG6_CWP_IN3_003,
			RG6_CWP_IN3_004,
			RG6_CWP_IN3_005,
			RG6_CWP_IN3_006,
			RG6_CWP_IN3_007,
			RG6_CWP_IN4_008,
			RG6_CWP_IN4_001,
			RG6_CWP_IN4_002,
			RG6_CWP_IN4_003,
			RG6_CWP_IN4_004,
			RG6_CWP_IN4_005,
			RG6_CWP_IN4_006,
			RG6_CWP_IN4_007,
			RG6_CWP_IN5_008,
			RG6_CWP_IN5_001,
			RG6_CWP_IN5_002,
			RG6_CWP_IN5_003,
			RG6_CWP_IN5_004,
			RG6_CWP_IN5_005,
			RG6_CWP_IN5_006,
			RG6_CWP_IN5_007
	 	FROM
	 		IPLATURE.T_CUTOFF_RESULT_AVG_1
	 	WHERE RESULTID in (
       					    select RESULTID from IPLATURE.T_CUTOFF_RESULT
    					    where CUTOFFID = 1
    					    <if test="resultId != null and resultId != ''">
    					   		 and RESULTID = #{resultId}
    					    </if>
    					    <if test="time != null and time != ''">
    					   		and CLOCK <![CDATA[<]]> #{time}
    					    </if>
    					    order by resultId desc fetch first ${rows} rows only
    					   )
     </select>

<!--     &lt;!&ndash; 冷却板供水压力数据项2 &ndash;&gt;-->
<!--     <select id="querySupplyPressure2" resultType="map">-->
<!--    	SELECT-->
<!--     		RESULTID,-->
<!--			RG6_CWP_IN6_008,-->
<!--			RG6_CWP_IN6_001,-->
<!--			RG6_CWP_IN6_002,-->
<!--			RG6_CWP_IN6_003,-->
<!--			RG6_CWP_IN6_004,-->
<!--			RG6_CWP_IN6_005,-->
<!--			RG6_CWP_IN6_006,-->
<!--			RG6_CWP_IN6_007-->
<!--	 	FROM -->
<!--	 		IPLATURE.T_CUTOFF_RESULT_AVG_2-->
<!--	 	WHERE RESULTID in (-->
<!--       					    select RESULTID from IPLATURE.T_CUTOFF_RESULT -->
<!--    					    where CUTOFFID = 1-->
<!--    					    <if test="resultId != null and resultId != ''">-->
<!--    					   		 and RESULTID = #{resultId}-->
<!--    					    </if> -->
<!--    					    <if test="time != null and time != ''">-->
<!--    					   		and CLOCK <![CDATA[<]]> #{time}-->
<!--    					    </if>-->
<!--    					    order by resultId desc fetch first ${rows} rows only-->
<!--    					   )-->
<!--     </select>-->
	<!-- 冷却板供水压力数据项2 -->
	<select id="querySupplyPressure2" resultType="map">
		SELECT
		RESULTID,
		RG5_CWP_CS0_001,
		RG5_CWP_CS0_002,
		RG5_CWP_CS0_003,
		RG5_CWP_CS0_004,
		RG5_CWP_CS0_005,
		RG5_CWP_CS0_006,
		RG5_CWP_CS0_007,
		RG5_CWP_CS0_008,
		RG5_CWP_CS0_009,
		RG5_CWP_CS0_010,
		RG5_CWP_CS0_011,
		RG5_CWP_CS0_012,
		RG5_CWP_CS0_013,
		RG5_CWP_CS0_014,
		RG5_CWP_CS0_015,
		RG5_CWP_CS0_016
		FROM
		IPLATURE.T_CUTOFF_RESULT_AVG_2
		WHERE RESULTID in (
		select RESULTID from IPLATURE.T_CUTOFF_RESULT
		where CUTOFFID = 1
		<if test="resultId != null and resultId != ''">
			and RESULTID = #{resultId}
		</if>
		<if test="time != null and time != ''">
			and CLOCK <![CDATA[<]]> #{time}
		</if>
		order by resultId desc fetch first ${rows} rows only
		)
	</select>
<!--     &lt;!&ndash; 热风压力数据项 &ndash;&gt;-->
<!--     <select id="queryHotPressure" resultType="map">-->
<!--		SELECT -->
<!--			RESULTID,-->
<!--			VALUE(RG6_BFP_HOT_WND,0) as RG6_BFP_HOT_WND1,-->
<!--			VALUE(RG6_BFP_HOT_WND,0) as RG6_BFP_HOT_WND2,-->
<!--			VALUE(RG6_BFP_HOT_WND,0) as RG6_BFP_HOT_WND3,-->
<!--			VALUE(RG6_BFP_HOT_WND,0) as RG6_BFP_HOT_WND4,-->
<!--			VALUE(RG6_BFP_HOT_WND,0) as RG6_BFP_HOT_WND5,-->
<!--			VALUE(RG6_BFP_HOT_WND,0) as RG6_BFP_HOT_WND6,-->
<!--			VALUE(RG6_BFP_HOT_WND,0) as RG6_BFP_HOT_WND7,-->
<!--			VALUE(RG6_BFP_HOT_WND,0) as RG6_BFP_HOT_WND8-->
<!--		FROM -->
<!--			IPLATURE.T_CUTOFF_RESULT_AVG_9-->
<!--	 	WHERE RESULTID in (-->
<!--       					   select RESULTID from IPLATURE.T_CUTOFF_RESULT -->
<!--    					   where CUTOFFID = 1-->
<!--    					   <if test="resultId != null and resultId != ''">-->
<!--    					   		and RESULTID = #{resultId}-->
<!--    					   </if> -->
<!--    					   <if test="time != null and time != ''">-->
<!--    					   		and CLOCK <![CDATA[<]]> #{time}-->
<!--    					   </if>-->
<!--    					   order by resultId desc fetch first ${rows} rows only-->
<!--    					  )-->
<!--     </select>-->
	<!-- 热风压力数据项 -->
	<select id="queryHotPressure" resultType="map">
		SELECT
		RESULTID,
		RG1_RFL_HOT_P00,
		RG1_RFL_HOT_P00,
		RG1_RFL_HOT_P00,
		RG1_RFL_HOT_P00
		FROM
		IPLATURE.T_CUTOFF_RESULT_AVG_5
		WHERE RESULTID in (
		select RESULTID from IPLATURE.T_CUTOFF_RESULT
		where CUTOFFID = 1
		<if test="resultId != null and resultId != ''">
			and RESULTID = #{resultId}
		</if>
		<if test="time != null and time != ''">
			and CLOCK <![CDATA[<]]> #{time}
		</if>
		order by resultId desc fetch first ${rows} rows only
		)
	</select>
     <!-- 炉顶压力数据项 -->
     <select id="queryTopPressure" resultType="map">
		SELECT
			RESULTID,
		 RG1_BFP_TOP_002,
		 RG1_BFP_TOP_001,
		 RG1_BFP_TOP_002,
		 RG1_BFP_TOP_001
		FROM
			IPLATURE.T_CUTOFF_RESULT_AVG_10
	 	WHERE RESULTID in (
       					   select RESULTID from IPLATURE.T_CUTOFF_RESULT
    					   where CUTOFFID = 1
    					   <if test="resultId != null and resultId != ''">
    					   		and RESULTID = #{resultId}
    					   </if>
    					   <if test="time != null and time != ''">
    					   		and CLOCK <![CDATA[<]]> #{time}
    					   </if>
    					   order by resultId desc fetch first ${rows} rows only
    					  )
     </select>

     <!-- 料层数据项 -->
<!--	 <select id="queryMaterialLayer" resultType="map">-->
<!--	 	SELECT-->
<!--		    layer.CHARGENO,-->
<!--		    layer.BASEH,-->
<!--		    layer.LEVEL,-->
<!--		    layer.THICK,-->
<!--		    layer.POINTX,-->
<!--		    value.value-->
<!--		FROM-->
<!--		 BENGANG.T_MD_BODY_MAT_LAYER layer,-->
<!--		 IPLATURE.T_MW_charge_value value-->
<!--	   	WHERE value.CHARGENO = layer.CHARGENO and (value.itemid = 11 or value.itemid = 12)-->
<!--	   		<if test="clock != null and clock != ''">-->
<!--				and layer.CLOCK = #{clock}-->
<!--		    </if> -->
<!--		    <if test="clock == null or clock == ''">-->
<!--				and layer.CLOCK = (SELECT MAX(CLOCK) FROM BENGANG.T_MD_BODY_MAT_LAYER)-->
<!--		    </if>-->
<!--	   	ORDER BY LEVEL ASC-->
<!--	 </select>-->
	<select id="queryMaterialLayer" resultType="map">
		SELECT
		layer.CHARGENO,
		layer.BASEH,
		layer.LEVEL,
		layer.THICK,
		layer.POINTX
		FROM
		BENGANG.T_MD_BODY_MAT_LAYER layer
		WHERE 1=1
		<if test="clock != null and clock != ''">
			and layer.CLOCK = #{clock}
		</if>
		<if test="clock == null or clock == ''">
			and layer.CLOCK = (SELECT MAX(CLOCK) FROM BENGANG.T_MD_BODY_MAT_LAYER)
		</if>
		ORDER BY LEVEL ASC
	</select>
	 <!-- 料层数据项_1 -->
	 <select id="queryMaterialLayerData" resultType="map">
		 SELECT
		    LAYER.CHARGENO         AS "chargeNo",
		    LAYER.LEVEL            AS "level",
		    LAYER.THICK            AS "thick",
		    LAYER.C_THICK          AS "cThick",
		    LAYER.O_THICK          AS "oThick",
		    LAYER.FLAG             AS "flag",
		    INFO.CHARGENO          AS "chargeNo",
		    INFO.THEO_FE           AS "theoFe",
		    INFO.THEO_SLAG         AS "theoSlag",
		    INFO.COKE_RATIO        AS "cokeRatio",
		    INFO.COMPRE_COKE_RATIO AS "compreCokeRatio",
		    INFO.R                 AS "r",
		    INFO.COKE_TOTAL        AS "cokeTotal",
		    INFO.CHARGE_WGT        AS "chargeWgt"
		FROM
			BENGANG.T_MD_BODY_MAT_LAYER LAYER
		LEFT JOIN
			BENGANG.T_MD_BODY_CHARGE_CAL_INFO INFO
		ON
		    LAYER.CHARGENO = INFO.CHARGENO
		WHERE
		    LAYER.CLOCK = (SELECT MAX(CLOCK) FROM BENGANG.T_MD_BODY_MAT_LAYER)
		ORDER BY LEVEL ASC
	 </select>

     <!-- 查询侵蚀线、凝固线：角度数据项截取:之后的角度 -->
     <select id="queryErodeSolidAngle" resultType="map">
		 SELECT
			 ANGLEID,
			 SUBSTR(DESCR , LOCATE(':',DESCR)+1 , LENGTH(DESCR)) AS ANGLE,
			 DESCR
		 FROM
			 IPLATURE.T_MD_ER_ANGLE
		 WHERE
			 ANGLEID NOT IN (101,102,103,1001)

	 </select>
<!--	&lt;!&ndash; 查询侵蚀线、凝固线：角度数据项 &ndash;&gt;-->
<!--	<select id="queryErodeSolidAngle" resultType="map">-->
<!--		SELECT-->
<!--			ANGLEID,-->
<!--			SUBSTR(DESCR,12,LENGTH(DESCR)-13) as ANGLE,-->
<!--			DESCR-->
<!--		FROM-->
<!--			IPLATURE.T_MD_ER_ANGLE-->
<!--		&#45;&#45;       WHERE-->
<!--&#45;&#45;       	ANGLEID in (1,2,3,4,5,6,7,8)-->
<!--	</select>-->
     <!-- 查询侵蚀线、凝固线：CalcId数据项 -->
     <select id="queryErodeSolidCalcId" resultType="map">
     	SELECT VC.CALCID as "calcId" FROM IPLATURE.T_MD_ER_VALUE_CALC VC WHERE 1 = 1
           <if test="startTime != null and startTime != ''">
 		 		AND VC.STARTDATE = #{startTime}
		   </if>
		   <if test="startTime == null or startTime == ''">
 				 AND VC.STARTDATE = (select max(STARTDATE) from IPLATURE.T_MD_ER_VALUE_CALC)
	<!--	AND VC.STARTDATE = (SELECT TIMESTAMP(MAX(STARTDATE))-1 DAY FROM IPLATURE.T_MD_ER_VALUE_CALC)-->
</if>
AND VC.ANGLEID = (SELECT ANGLEID from IPLATURE.T_MD_ER_ANGLE WHERE DESCR = #{angleValue})
order by CALCID desc fetch first 1 rows only
</select>

<!-- 查询侵蚀线数据项，注：r-半径、z-高度、angle-角度-->
	<select id="queryErodeDataItem" resultType="map">
		SELECT
	        TVP.R,
	        TVP.Z
		FROM
        	IPLATURE.T_MD_ER_VALUE_POLYGON_POINT TPP
		LEFT JOIN
        	IPLATURE.T_MD_ER_VALUE_POINT TVP
    	ON
        	TPP.POINTID =tvp.POINTID
		WHERE
        	TPP.POLYGONID =
		(
	        SELECT TVP.polygonid from IPLATURE.t_md_er_value_polygon tvp
	        where tvp.calcid = #{calcId}
	        and tvp.polygontype = (select t.polygontype from IPLATURE.t_md_er_polygon_type t where t.polygonkey='ER_POLYGON_MW')
		)
		ORDER BY tpp.POLYGONID, tpp.SEQ
	</select>

	<!-- 查询凝固线数据项，注：r-半径、z-高度、angle-角度-->
	<select id="querySolidDataItem" resultType="map">
		SELECT
	        tvp.R,
	        tvp.Z
		FROM
        	IPLATURE.T_MD_ER_VALUE_POLYGON_POINT tpp
		LEFT JOIN
        	IPLATURE.T_MD_ER_VALUE_POINT tvp
    	ON
        	tpp.POINTID =tvp.POINTID
		WHERE
        	tpp.POLYGONID =
		(
	        select
	                tvp.polygonid from IPLATURE.t_md_er_value_polygon tvp
	        where tvp.calcid = #{calcId}
	        and tvp.polygontype = (select t.polygontype from IPLATURE.t_md_er_polygon_type t where t.polygonkey='ER_POLYGON_W')
		)
		ORDER BY tpp.POLYGONID, tpp.SEQ
	</select>

	<!-- 查询标高数据项 -->
	<select id="queryElevation" resultType="map">
		select
	        '标高' || high as dispname,
	        high
		from
		        (select cast(tt.z as decimal(5,3)) as high
		from
		        (select distinct t1.z from IPLATURE.t_md_er_point t1 where t1.pointtype = 6) tt where tt.z <![CDATA[<=]]>
		        (select t.defval from IPLATURE.t_md_er_calc_parameter_setup t where t.keyname = 'PAR_ER_COOLWALL_Y_MAX')
		and
		        tt.z >=(select t.defval from IPLATURE.t_md_er_calc_parameter_setup t where t.keyname = 'PAR_ER_COOLWALL_Y_MIN')) t4
		order by high desc
	</select>

	<!-- 查询模型：其余角度侵蚀线/凝固线数据项-->
	<select id="queryOtherAnglesLine" resultType="map">
		SELECT
		    <!-- t.POINTID,
		    t.ITEMID,
		    t.GROUPID,
		    t1.POINTTYPE,
		    t2.STARTDATE, -->
		    t1.Z AS "height" ,
		<!-- 当前半径-残厚半径-->
        t1.r + 0.1 - t.val AS "radius",
        ROUND (
                   (
                           SELECT DISTINCT
                               angle
                           FROM
                               IPLATURE.t_md_er_couple a,
                               IPLATURE.t_md_er_couple_point b
                           WHERE
                               a.coupleid = b.coupleid
                           AND b.pointid = t1.pointid
                   ), 0
              ) as "angle"
    FROM
        IPLATURE.t_md_er_value_wall_point t,
        IPLATURE.t_md_er_point t1,
        IPLATURE.t_md_er_value_group t2
    WHERE
        t.POINTID = t1.POINTID
    <!-- AND t1.Z = #{high} -->
		AND t.ITEMID = #{itemId}
		AND t1.POINTTYPE = 6
		AND t.GROUPID = t2.GROUPID
        <if test="startTime != null and startTime != ''">
  		 AND t2.STARTDATE = #{startTime}
		</if>
		<if test="startTime == null or startTime == ''">
  		<!-- AND t2.STARTDATE = (select max(STARTDATE) from IPLATURE.T_MD_ER_VALUE_GROUP) -->
  		AND t2.STARTDATE = (SELECT TIMESTAMP(MAX(STARTDATE))-1 DAY FROM IPLATURE.T_MD_ER_VALUE_GROUP)
		</if>
	</select>

	<!-- 查询模型：残厚数据，注：r-半径、z-高度、angle-角度-->
	<select id="queryResidualThickness" resultType="map">
		SELECT
		    t.POINTID,
		    t.ITEMID,
		    t.GROUPID,
		    t1.POINTTYPE,
		    t2.STARTDATE,
		    t1.Z AS "height" ,
		    t.val AS "radius",
		    ROUND (
	                   (
	                           SELECT DISTINCT
	                               angle
	                           FROM
	                               IPLATURE.t_md_er_couple a,
	                               IPLATURE.t_md_er_couple_point b
	                           WHERE
	                               a.coupleid = b.coupleid
	                           AND b.pointid = t1.pointid
	                   ), 0
		          ) as "angle"
		FROM
		    IPLATURE.t_md_er_value_wall_point t,
		    IPLATURE.t_md_er_point t1,
		    IPLATURE.t_md_er_value_group t2
		WHERE
		    t.POINTID = t1.POINTID
		AND t1.Z = #{high}
		AND t.ITEMID = #{itemId}
		AND t1.POINTTYPE = 6
		AND t.GROUPID = t2.GROUPID
        <if test="startTime != null and startTime != ''">
  		 AND t2.STARTDATE = #{startTime}
		</if>
		<if test="startTime == null or startTime == ''">
  		AND t2.STARTDATE = (select max(STARTDATE) from IPLATURE.T_MD_ER_VALUE_GROUP)
		</if>
	</select>
	<!-- 查询模型：残厚历史数据，注：r-半径、z-高度、angle-角度-->
	<select id="queryResidualThicknessHis" resultType="map">
		SELECT *
		FROM (SELECT
		t.POINTID,
		t.ITEMID,
		t.GROUPID,
		t1.POINTTYPE,
		t2.STARTDATE,
		t1.Z AS "height" ,
		t.val AS "radius",
		ROUND (
		(
		SELECT DISTINCT
		angle
		FROM
		IPLATURE.t_md_er_couple a,
		IPLATURE.t_md_er_couple_point b
		WHERE
		a.coupleid = b.coupleid
		AND b.pointid = t1.pointid
		), 0
		) as "angle"
		FROM
		IPLATURE.t_md_er_value_wall_point t,
		IPLATURE.t_md_er_point t1,
		IPLATURE.t_md_er_value_group t2
		WHERE
		t.POINTID = t1.POINTID
		AND t1.Z = #{high}
		AND t.ITEMID = #{itemId}
		AND t1.POINTTYPE = 6
		AND t.GROUPID = t2.GROUPID
		<if test="startTime != null and startTime != ''"><!-- AND t2.STARTDATE <![CDATA[<=]]> TIMESTAMP(#{startTime}, 'YYYY-MM-DD-HH24:MI:SS.US')-->
			AND t2.STARTDATE <![CDATA[<=]]>#{startTime}
		</if>
<if test="startTime == null or startTime == ''">
    AND t2.STARTDATE <![CDATA[<=]]> (select max(STARTDATE) from IPLATURE.T_MD_ER_VALUE_GROUP)
</if>
		) subquery
		WHERE (#{angle} IS NULL OR subquery."angle" = #{angle})
		<if test="rows == null">
		AND subquery.STARTDATE >= date((select max(STARTDATE) from IPLATURE.T_MD_ER_VALUE_GROUP) - 1 month)
	</if>
		ORDER BY subquery.STARTDATE DESC
		<if test="rows != null">
			FETCH FIRST ${rows} ROWS ONLY
		</if>

</select>
<!-- 查询T_MD_WR_POINT_VALUE表数据项 -->
	<select id="queryMdWrPointValue" resultType="map">
		select
			point.hight/1000 as "height",
			point.angle as "angle",
			value.width/100 as "radius"
		from
			IPLATURE.T_MD_WR_POINT_VALUE value,IPLATURE.T_MD_WR_POINT point
		where
			value.pointId = point.pointId
		and
			value.width is not null
		and
			value.clock =(select max(clock) from IPLATURE.T_MD_WR_POINT_VALUE)
	</select>

	<!-- 查询炉壳数据项 -->
	<select id="queryMdErPolygon" resultType="map">
		select
			<!-- POINT.POINTID,
			POINT.DESCR, -->
			POINT.R,
			POINT.Z
		from
			IPLATURE.T_MD_ER_POINT POINT
		where
			POINTID in
			(
				select
					POINTID
				from
					IPLATURE.T_MD_ER_POLYGON POLYGON,
					IPLATURE.T_MD_ER_POLYGONPOINT POLYGONPOINT
				where
					V_POLYGON = '11'
				and
					polygontype='1'
				and
					POLYGON.POLYGONID = POLYGONPOINT.POLYGONID
				group by POINTID
			)
	</select>

	<!-- 查询炉缸侵蚀耐火材数据项 -->
	<select id="queryRefractoryMaterial" resultType="map">
		SELECT
		    TP.POLYGONID,
		    TM.REMARK,
		    TPO.R,
		    TPO.Z
		FROM
		    IPLATURE.T_MD_ER_POLYGON TP
		LEFT JOIN
		    IPLATURE.T_MD_ER_MATERIAL TM
		ON
		    TP.MATERIALID = TM.MATERIALID
		LEFT JOIN
		    IPLATURE.T_MD_ER_POLYGONPOINT TPP
		ON
		    TP.POLYGONID = TPP.POLYGONID
		LEFT JOIN
		    (SELECT POINTID,R,Z FROM IPLATURE.T_MD_ER_POINT T WHERE V_POINT = (SELECT V_POINT FROM IPLATURE.T_MD_ER_ANGLE WHERE ANGLEID = #{angleId})) TPO
		ON
		    TPP.POINTID = TPO.POINTID
		WHERE
		    TP.POLYGONTYPE = 1
		AND TP.V_POLYGON = (SELECT V_POLYGON FROM IPLATURE.T_MD_ER_ANGLE WHERE ANGLEID = #{angleId})
		AND TP.USING IN (2,3)
		ORDER BY TP.POLYGONID,TPP.SEQ
	</select>

</mapper>